.qr{
    width: 150px;
    height: 150px;
    
}

.caja{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 115px;
    height: 50px;
    float: right;
}

.fondocard{
    background-color:bisque;
    font-family: 'Verdana';
}

.fondoContent{
    font-family: 'Times New Roman';
}

.colorTitulos{
    font-weight: bold; 
    text-align: center;
}